$font-open-sans: "Open Sans", "Arial", sanserif;
$font-gilroy: "Gilroy", "Arial", sanserif;
$font-size: 15px;
$font-weight: 300;
$line-height: 1.5;

$color-white: #ffffff;
$color-black: #000000;
$color-lightyellow: #f7e184;
$color-yellow: #f7e296;
$color-darkyellow: #f0c52e;
$color-gray: #e5e5e5;
$color-darkgray: #464646;

